
@{
    Layout = null;
}
@using Model
@model Engage_interview

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DengJi</title>
    <link rel="stylesheet"
          href="../../../css/table.css" type="text/css">
    <link rel="stylesheet"
          href="../../../css/cwcalendar.css"
          type="text/css">
    <script type="text/javascript"
            src="../../../javascript/comm/comm.js">

    </script>
    <script type="text/javascript"
            src="../../../javascript/comm/list.js">

    </script>
    <script type="text/javascript"
            src="../../../javascript/calendar-ch.js">

    </script>
    <script type="text/javascript"
            src="../../../javascript/jquery-1.7.2.js">

    </script>
    <script type="text/javascript"
            src="../../../javascript/locate.js">

    </script>
    <script type="text/javascript"
            src="../../../javascript/select.js">

    </script>
    <script type="text/javascript"
            src="../../../javascript/comm/time.js">
    </script>



    <link rel="stylesheet" href="../../css/table.css" type="text/css">
    <script type="text/javascript" src="../../javascript/comm/comm.js"></script>
    <script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui//lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <script type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script type="text/javascript">
        function search() {
            if (document.getElementById("date").value == "") {
                alert("请选择面试时间");
            } else {
                document.interviewForm.submit();
            }
        }
    </script>
</head>

<body>
    @{Engage_resume eng = ViewBag.s;}


    <form role="form" action="/Eresume/MianShiINSERT" method="post">
        <input type="hidden" name="operate" value="doAdopt">
        <!--	<input type="hidden" name="engageInterview.checkStatus" value=""/>
        <input type="hidden" name="engageInterview.checkComment" value=""/>
          -->
        <input type="hidden" name="engageInterview.einId" value="" />
        <input type="hidden" name="engageInterview.result" value="完成" />
        <input type="hidden" name="engageInterview.resumeId" value="542" />
        <input type="hidden" name="engageResume.resId" value="542" />
        <input type="hidden" name="engageInterview.interviewStatus" value="true" />
        <table width="100%">
            <tr>
                <td>

                    <font color="black">您正在做的业务是：人力资源--招聘管理--面试管理--面试结果登记  </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="面试登记" class="BUTTON_STYLE1"
                           onclick="search();">
                    <input type="button" value="返回" class="BUTTON_STYLE1"
                           onclick="history.back();">

                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td class="TD_STYLE1" width="10%">
                    职位分类
                </td>
                <td width="10%" class="TD_STYLE2">
                    <input type="hidden" name="resume_id" value="@eng.res_id" />
                    <input type="hidden" name="human_major_kind_id" value="@eng.human_major_id" />
                    <input type="text" name="human_major_kind_name" value="@eng.human_major_name" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td width="10%" class="TD_STYLE1">
                    职位名称
                </td>
                <td width="15%" class="TD_STYLE2">
                    <input type="hidden" name="human_major_id" value="@eng.human_major_kind_id" />
                    <input type="text" name="human_major_name" value="@eng.human_major_kind_name" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td width="10%" class="TD_STYLE1">
                    招聘类型
                </td>
                <td width="20%" class="TD_STYLE2" colspan="2">
                    <input type="text" name="engageResume.engageType" value="@eng.engage_type" readonly="readonly" class="INPUT_STYLE2">
                </td>

                <td width="10%" rowspan="6" align="center">
                    <img src="@eng.human_picture" />

                        
                </td>

            </tr>

            <tr>
                <td class="TD_STYLE1">
                    姓名
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="human_name" value="@eng.human_name" readonly="readonly" class="INPUT_STYLE2">

                </td>
                <td class="TD_STYLE1">
                    性别
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.humanSex" value="@eng.human_sex" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    EMAIL
                </td>
                <td colspan="2" class="TD_STYLE2">
                    <input type="text" name="" value="@eng.human_email" readonly="readonly" class="INPUT_STYLE2">
                </td>
            </tr>

            <tr>
                <td class="TD_STYLE1">
                    电话号码
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="" value="@eng.human_telephone" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    家庭电话
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="" value="@eng.human_homephone" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    手机
                </td>
                <td colspan="2" class="TD_STYLE2">
                    <input type="text" name="" value="@eng.human_mobilephone" readonly="readonly" class="INPUT_STYLE2">
                </td>
            </tr>

            <tr>
                <td class="TD_STYLE1">
                    住址
                </td>
                <td colspan="3" class="TD_STYLE2">
                    <input type="text" name="" value="@eng.human_address;" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    邮编
                </td>
                <td colspan="2" class="TD_STYLE2">
                    <input type="text" name="" value="@eng.human_postcode" readonly="readonly" class="INPUT_STYLE2">
                </td>
            </tr>

            <tr>
                <td class="TD_STYLE1">
                    国籍
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="" value="@eng.human_nationality" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    出生地
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.humanBirthplace" value="@eng.human_birthplace" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    生日
                </td>
                <td class="TD_STYLE2" colspan="2">
                    <input type="text" name="engageResume.humanBirthday" value="@eng.human_birthday" readonly="readonly" class="INPUT_STYLE2">
                </td>
            </tr>

            <tr>
                <td width="11%" class="TD_STYLE1">
                    民族
                </td>
                <td class="TD_STYLE2" width="14%">
                    <input type="text" name="engageResume.humanRace" value="@eng.human_race" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    宗教信仰
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.humanReligion" value="@eng.human_religion" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    政治面貌
                </td>
                <td class="TD_STYLE2" colspan="2">
                    <input type="text" name="engageResume.humanParty" value="@eng.human_party" readonly="readonly" class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>

                <td class="TD_STYLE1">
                    身份证号码
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.humanIdcard" value="@eng.human_idcard" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    年龄
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.humanAge" value="@eng.human_age" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    毕业学校
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.humanCollege" value="@eng.human_college" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1" width="10%">
                    学历
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.humanEducatedDegree" value="@eng.human_educated_degree" readonly="readonly" class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    教育年限
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.humanEducatedYears" value="@eng.human_educated_years" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    学历专业
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.humanEducatedMajor" value="@eng.human_educated_major" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    薪酬要求
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.demandSalaryStandard" value="@eng.demand_salary_standard" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    注册时间
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.registTime" value="@eng.regist_time" readonly="readonly" class="INPUT_STYLE2">

                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    特长
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.humanSpecility" value="@eng.human_specility" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    爱好
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageResume.humanHobby" value="@eng.human_hobby" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    <span style="font-size: 10.5pt; font-family: 宋体;"></span>
                    推荐人
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageInterview.checker" value="" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    <span style="font-size: 10.5pt; font-family: 宋体;"></span>
                    推荐时间
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="engageInterview.checkTime" value="2012-11-25 01:51:18" readonly="readonly" class="INPUT_STYLE2">

                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    个人履历
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea name="engageResume.humanHistoryRecords" rows="4"
                              class="TEXTAREA_STYLE1" readonly="readonly"> @eng.human_history_records
						</textarea>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    备注
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea name="engageResume.remark" rows="4" class="TEXTAREA_STYLE1" readonly="readonly"> @eng.remark
						</textarea>
                </td>
            </tr>

            <tr>
                <td class="TD_STYLE1">
                    推荐意见
                </td>
                <td class="TD_STYLE2" colspan="7">
                    <textarea name="engageResume.recomandation" rows="4" class="TEXTAREA_STYLE1" readonly="readonly">@eng.recomandation				</textarea>
                </td>
            </tr>


            <tr>
                <td class="TD_STYLE1">
                    面试次数
                </td>
                <td class="TD_STYLE2">
                    <input type="hidden" value="1" name="interview_amount" id="interview_amount" />
                    <input type="text" value="第1次面试" class="INPUT_STYLE2" readonly="readonly" />
                </td>
                <td class="TD_STYLE1">
                    形象评价
                </td>
                <td class="TD_STYLE2">
                    <select name="image_degree" id="image_degree" class="SELECT_STYLE1">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </td>
                <td class="TD_STYLE1">
                    口才评价
                </td>
                <td class="TD_STYLE2">
                    <select name="native_language_degree" id="native_language_degree" class="SELECT_STYLE1">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </td>
                <td class="TD_STYLE1">
                    外语口语能力
                </td>
                <td class="TD_STYLE1">
                    <select name="foreign_language_degree" id="foreign_language_degree" class="SELECT_STYLE1">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    应变能力
                </td>
                <td class="TD_STYLE2">
                    <select name="response_speed_degree" id="response_speed_degree" class="SELECT_STYLE1">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </td>
                <td class="TD_STYLE1">
                    EQ
                </td>
                <td class="TD_STYLE2">
                    <select name="EQ_degree" class="SELECT_STYLE1" id="EQ_degree">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </td>
                <td class="TD_STYLE1">
                    IQ
                </td>
                <td class="TD_STYLE2">
                    <select name="IQ_degree" class="SELECT_STYLE1" id="IQ_degree">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </td>
                <td class="TD_STYLE1">
                    综合素质
                </td>
                <td class="TD_STYLE1">
                    <select name="multi_quality_degree" class="SELECT_STYLE1" id="multi_quality_degree">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    面试人
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="register" value="zhangsan" class="INPUT_STYLE2" id="register" />
                </td>
                <td class="TD_STYLE1">
                    面试时间
                </td>
                <td class="TD_STYLE2">


                    <input type="date"
                           name="registe_time" onclick="aa('utilBean.endDate')"
                           class="INPUT_STYLE2" id="registe_time">

                </td>
                <td class="TD_STYLE1">
                    &nbsp;
                </td>
                <td class="TD_STYLE2">
                    &nbsp;
                </td>
                <td class="TD_STYLE1">
                    &nbsp;
                </td>
                <td class="TD_STYLE2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    面试评价
                </td>
                <td class="TD_STYLE2" colspan="7">
                    <textarea name="interview_comment" class="TEXTAREA_STYLE1" id="interview_comment"
                              rows="4"></textarea>
                </td>
            </tr>
        </table>
    </form>




</body>
</html>
 